/*
Background main, Text footer, Menu underline: #FFF
Background navigation, header: #8CBEB2
Background footer, input tpe submit: #2D2D2E
Text color main: #000
*/
@media screen {
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section { 
	 	display: block; 
	} 
	
	body {
		font-family: 'Droid Serif', serif;
	}
	
	nav#navigation-container, h1, h2, h3, h4, h5, h6 {
		font-family: 'Oxygen', sans-serif;
	}
	
	nav#navigation-container {
		text-transform: uppercase;		
	}
	
	body {
		color: #FFF;
		margin: 0;
		padding: 0;
	}
	
	#body-container {
		background-color: #FFF;
		color: #000;
	}
	
	.left-float {
		float: left;
	}
	
	.right-float {
		float: right;
	}
	
	.left {
		text-align: left;;
	}
	
	.right {
		text-align: right;
	}
	
	.margin-image {
		margin: 0 1em 1em 1em;
	}
	
	nav#navigation-container ul {
		padding: 0;
	}
	
	nav#navigation-container li {	
		list-style: none;
	}
	
	.active a:link, .active a:hover, .active a:active, .active a:visited, .active a:focus{
		text-decoration: none;
		border-bottom: 3px solid #FFF;
	}
	
	nav#navigation-container a:link, nav#navigation-container a:active, nav#navigation-container a:visited, nav#navigation-container a:focus {
		color: #000;
		text-decoration: none;
	}
	
	nav#navigation-container a:hover {
		color: #000;
		text-decoration: none;
		border-bottom: 3px solid #FFF;
	}

	a:link, a:hover, a:active, a:visited, a:focus {
		text-decoration: underline;
		color: #000;
	}
	
	select, input, textarea {
		border: 1px #2D2D2E solid;
	}
	
	input[type=submit] {
		background-color: #2D2D2E;
		color: #FFF;
		font-size: 1.3em;
	}
}

@media print {
	#header-container {
		display: none;
	}
	
	#navigation-container {
		display: none;
	}
	
	footer {
		display: none;
	}
	
	a[href^="http://"]:after {
	content: " (" attr(href) ")";
	font-size: 90%;
	}
}